.main-jobs-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100%;
  font-family: 'Roboto';
  background-color: #000000;
}

.jobs-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 88%;
}

.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.sm-search-bar-holder {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 35px;
  border-style: solid;
  border-color: #b6c5ff;
  border-width: 1px;
  border-radius: 2px;
  margin-bottom: 20px;
}

.search-bar {
  width: 85%;
  height: 100%;
  background-color: transparent;
  border-style: none;
  outline: none;
  padding-left: 15px;
  color: #f1f5f9;
}

.search-button {
  width: 15%;
  height: 100%;
  background-color: #272727;
  border-style: none;
  outline: none;
  padding: 2px;
  text-align: center;
}

.search-icon {
  color: #f1f5f9;
  width: 15px;
  height: 15px;
}

.profile-loader {
  display: flex;
  width: 100%;
  height: 255px;
  justify-content: center;
  align-items: center;
}

.success-profile-container {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  border-radius: 25px;
  height: 200px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.profile-name {
  color: #6366f1;
  font-size: 20px;
}

.profile-bio {
  color: #64748b;
  font-size: 13px;
  line-height: 1.5;
}

.failure-profile-container {
  width: 100%;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.failure-retry-button {
  width: 80px;
  padding: 5px;
  background-color: #4f46e5;
  border-style: none;
  outline: none;
  border-radius: 2px;
  color: white;
  font-size: 10px;
  height: 32px;
}

hr {
  border-style: none;
  background-color: #475569;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.filter-heading {
  color: #f1f5f9;
  font-size: 18px;
}

.filter-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  padding-left: 0px;
}

.checkbox-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.employment-checkbox {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.label {
  color: #f1f5f9;
  font-size: 12px;
}

.radio-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.salary-radio {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.main-job-view-container {
  width: 100%;
}

.lg-searchbar-holder {
  display: none;
}

.jobs-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 0px;
}

.main-failure-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.failure-image {
  width: 60%;
  height: 60%;
}

.failure-retry-button {
  width: 80px;
  padding: 5px;
  background-color: #4f46e5;
  border-style: none;
  outline: none;
  border-radius: 2px;
  color: white;
  font-size: 10px;
  height: 32px;
}

.main-no-job-container {
  width: 100%;
  height: 100%;
}

.no-job-image {
  width: 60%;
  height: 60%;
}

.no-job-heading {
  color: #f1f5f9;
  font-size: 22px;
  margin-bottom: 0px;
}

.no-job-description {
  color: #cbd5e1;
  font-size: 10px;
  line-height: 1.5;
}

.failure-heading {
  font-size: 20px;
  color: #f1f5f9;
}

.failure-image {
  width: 50%;
  height: 56%;
}

.failure-description {
  color: #cbd5e1;
  font-size: 12px;
  line-height: 1.5;
}

.main-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

@media screen and (min-width: 768px) {
  .jobs-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding: 0px;
  }

  .jobs-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 88%;
    padding: 10px;
  }

  .filter-container {
    width: 25%;
  }

  .sm-search-bar-holder {
    display: none;
  }

  .main-job-view-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 75%;
    height: 88%;
    padding: 20px;
  }

  .lg-searchbar-holder {
    width: 50%;
    height: 35px;
    border-style: solid;
    border-color: #b6c5ff;
    border-width: 1px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
  }

  .profile-loader {
    height: 200px;
  }

  .search-bar {
    width: 85%;
    height: 100%;
    background-color: transparent;
    border-style: none;
    outline: none;
    padding-left: 15px;
    color: #f1f5f9;
  }

  .main-no-job-container {
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .no-job-image {
    width: 50%;
    height: 56%;
  }

  .no-job-heading {
    color: #f1f5f9;
    font-size: 38px;
    margin-bottom: 0px;
  }

  .main-failure-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .failure-heading {
    color: #f1f5f9;
    font-size: 22px;
    margin-bottom: 0px;
  }
}
